

.card_information{
 position: absolute;
 bottom:16px;
}


.card_information_heading > *{
    margin-right:8px;
}

.media_type_container{
    
 img{
     margin-right:8px;
     height:100%;
     
 }
}
