.hover_card{
  
    position:absolute;
    top:0;
    left:0;
    width:100%;
  
    background-color:rgba(0,0,0,0.5);
    span{
        margin-left:15px;
    }
}

.play_button_container{
    position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      width:110px;
      height:40px;
      background:rgba($pure_white,0.50);
      border-radius:28.5px;
      z-index:10;
      padding:9px;
      display:flex;
      align-items: center;

     
    
}