@import './pages/login';
@import './pages/home';
@import './utils/variables.scss';
@import './utils/helpers.scss';


/* ---------------*
/*  Reset */
/* ---------------*/

/* Box Sizing */

*,
*::before,
*::after{
  box-sizing: border-box;
}




/* Reset Margins*/

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture
 {
  margin: 0;
}

body {
  
    line-height:1.5;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color:$dark_black;
    color:white;
  }

  /* make images easier to work with*/
img,
picture{
  max-width: 100%;
  display:block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }

  .heading_section{
    margin-top: clamp(1.5rem, 4.3vw, 2.1rem);
    margin-bottom: clamp(1rem, 3.1vw, 1.5rem);
  }

.main_header{
  grid-column: 2/3;
  
}
  .main_area{
  
    @media(min-width: $desktop_screen)
    {
       
        grid-column:3/4;
    }
}