

// Flexbox section starts here

.flex{
    display:flex;
}

.flex_center_align{
    align-items:center;
}
.flex_center{
    align-items: center;
    justify-content: center;
}

.flex_column{
    flex-direction: column;
}

.flex_column_center{
    flex-direction: column;
    align-items: center;
}

.flex_row_center_space_between{
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}


//Flexbox section ends here

.gap_5{
  gap:5px;
}

.gap_10{
    gap:10px;
  }
  

.border_radius{
    border-radius: 8px;
}
.capitalize
{
    text-transform: capitalize;
}
.white_text{
    color:$pure_white;
}
.text_center{
    text-align: center;
}


.fw_300{
    font-weight: 300;
}


.fs_200{
    font-size: $fs-200;
}
.fs_300{
    font-size: $fs-300;
}
.fs_800{
    font-size: $fs-800;
}